// Specific CSS for your home-page
.farmervalid {
  display: none;
}

.form-inputs {
  font-size: 12px;

}

.container {
  display: flex;
}

.signup {
  padding: 20px;
  margin-top: 5px;
}


.banner {
  margin-top: 25px;
}
