.wrapper {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.wrapper .row .banner {
  color: white;
  text-align: center;
  height: 30vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .row .banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.search-form {
  width: 70%;
  margin: auto;
  padding: 20px;
  border: 1px solid #dbdbdb;
  background: white;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}

.text-intro {
 width: 100%;
}

.wrapper h2 {
  color: #6DB08B;
}

.wrapper h1 {
  color: #6DB08B;
}

.form-group {
  padding: 0px 100px;
}

.icons {
  margin: 0 3%;
  height: 30px;
  display: flex;
  justify-content: center;
  background-color: #6DB08B;
  padding: 20px;
    p .fas {
      font-size: 20px;
      color: white;
      padding: 0 40px;
    }
    .top10 {
      position:relative;
      bottom: 10px;
    }
}

.date {
  display: flex;
  justify-content: center;
  padding: 0 20px;
    .fa-calendar-alt {
      font-size: 20px;
      padding: 0 20px;
    }
}

.place {
  display: flex;
  justify-content: center;
  padding: 0 20px;
    .fa-map-marked {
      font-size: 20px;
      padding: 0 20px;
    }
}

.btn-medium {
  color: #6DB08B;
  border: 1px solid #6DB08B;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #6DB08B;
}
