.wrapper {
  width: 80%;
  background-color: white;
  box-shadow: 1px 1px 1px rgb(196,196,196);
  margin: 10px auto;

}

.wrapper .banner {
  color: white;
  text-align: center;
  height: 30vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .row {
  padding: 20px 50px;
}

.wrapper .user-data {
  display:flex;
  justify-content: center;
  align-items: center;
}

.wrapper .thumb {
  width: 200px;
  display:flex;
  justify-content: left;
  align-items: center;

}

.wrapper .col-xs-12 {
  position: relative;
  height: 100%;
}

.wrapper .infos {
  position: relative;
  top: 1px;
  left: 1px;
}

.wrapper .comments {
  text-align: right;
  font-size: 12px;
}

.wrapper .fas {
  font-size: 40px;
}
