<div class="wrap">

<h1>Messagerie</h1>

<h3>Mes conversations récentes</h3>
<div class="ui list">
    <div class="item"><ul>
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.receiver_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
           <% receiver = User.find(conversation.receiver_id) %>
          <% else %>
            <% receiver = User.find(conversation.sender_id) %>
          <% end %>
          <li><%= link_to receiver.first_name, conversation_messages_path(conversation)%></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>



<div class="ui segment">
  <h3>Mes contacts</h3>
  <div class="ui list">
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
      <div class="item">
        <%= user.first_name %> - <%= link_to 'Envoyer un message', conversations_path(sender_id: current_user.id, receiver_id: user.id), method: 'post'%>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

</div>
