<h1>Votre réservation</h1>
<p>Super <%= current_user %>! vous allez jardiner avec <%= User.find(@booking.farmer_id) %></p>
<p> Vous avez rendez-vous le <%= @booking.date %></p>
<p>On vous souhaite une expérience géniale! Et pleine de découverte!</p>


