<div class="wrap">
<h2>Bienvenue !</h2>

<p><%= link_to "Faire une recherche", search_users_path %></p>
<p><%= link_to "Voir les résultats", search_pages_path %></p>
<p><%= link_to "Voir les conversations", conversations_path %></p>
<p><%= link_to "Voir tous les commentaires", reviews_path %></p>

</div>
