
.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  border-radius: 2px;
  color: white;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 1px 1px 1px #bbbec1;
  &:hover {
    border: 2px solid $green;
  }

}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 15%;
  bottom: 0px;
  left: 0px;
}
.card h2 {
  position: absolute;
  bottom: 23px;
  left: 7px;
  font-size: 30px;
  color: white;
}


.card-img-top img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.results {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map {
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}

#map {
  width: 100%;
  height: 100vh;
}
.results-layout {
  display: flex;
  align-items: stretch;
}

.jour {
  font-size: 0.8em;
}

.book {
  position: absolute;
  top: 25px;
  right: 75px;
  color: white;
  z-index: 2;
  &:hover {
    color: $blue;
  }
}

.price {
  position: absolute;
  font-size: 15px;
  top: 27px;
  left: 10px;

}

.message{
  position: absolute;
  color: white;
  top: 25px;
  right: 45px;
  z-index: 2;
  &:hover {
    color: $blue;
  }

}

.card p {
  color: white;
}
