<div class="wrap">
<h1>Tous les commentaires</h1>

<ul>
  <% @reviews.each do |review| %>

    <li><strong><%= review.rating %>/5 — <%= review.title %></strong><br>
      <%= review.content %> <br><br></li>

  <% end %>

</ul>

<%= link_to "Ajouter un commentaire", new_review_path(@reviewee)  %>
</div>
